---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="companies">
  <h2 class="title">{t('companies.title')}</h2>

  <section class="materials">
    <div class="dot dot-1" />
    <div class="dot dot-2" />
    <div class="dot dot-3" />
    <div class="dot dot-4" />
    <div class="dot dot-5" />
    <div class="dot dot-6" />
    <div class="dot dot-7" />
    <div class="dot dot-8" />
  </section>

  <section class="wall">
    {[0, 1, 2].map(i => (
      <div class="line">
        {[1].map(() => (
          <>
            <img src={`/images/logos/${i * 10 + 1}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 2}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 3}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 4}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 5}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 6}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 7}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 8}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 9}.png`} draggable={false} />
            <img src={`/images/logos/${i * 10 + 10}.png`} draggable={false} />
          </>
        ))}
      </div>
    ))}
  </section>
</section>


<style lang="less" scoped>
.companies {
  position: relative;
  padding-top: 9.5rem;
  padding-bottom: 10rem;
  overflow-x: hidden;
  @media (max-width: 1024px) {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .title {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .materials {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    @media (max-width: 1024px) {
      display: none;
    }

    .dot {
      position: absolute;
      border-radius: 50%;

      &-1 {
        top: 3rem;
        left: -7.8rem;
        width: 1.6rem;
        height: 1.6rem;
        background: #FFBD37;
      }

      &-2 {
        top: 13.5rem;
        left: -3.4rem;
        width: 1.4rem;
        height: 1.4rem;
        background: #274FEE;
      }

      &-3 {
        top: -8.75rem;
        width: 0.8rem;
        height: 0.8rem;
        background: #2DAEFF;
      }

      &-4 {
        top: 8.8rem;
        left: -5.2rem;
        width: 1rem;
        height: 1rem;
        background: #FE4B4B;
      }

      &-5 {
        top: -2rem;
        right: 3.75rem;
        width: 0.6rem;
        height: 0.6rem;
        background: #2DAEFF;
      }

      &-6 {
        top: 11rem;
        right: 1rem;
        width: 0.8rem;
        height: 0.8rem;
        background: #FE4B4B;
      }

      &-7 {
        top: -7.75rem;
        right: -2.75rem;
        width: 1.4rem;
        height: 1.4rem;
        background: #FFBD37;
      }

      &-8 {
        top: 5.5rem;
        right: -7rem;
        width: 2.2rem;
        height: 2.2rem;
        background: #274FEE;
      }
    }
  }

  .wall {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 2.2rem;
    // overflow: hidden;

    .line {
      display: flex;
      justify-content: center;
      gap: 2.4rem;

      &:nth-child(1) {
        // animation: line-1 40s linear infinite;
      }
      &:nth-child(2) {
        justify-self: flex-end;
        // animation: line-2 40s linear infinite;
      }
      &:nth-child(3) {
        // animation: line-3 40s linear infinite;
      }

      img {
        height: 1.6rem;

        &:first-child,
        &:last-child {
          // filter: blur(2px);
        }
      }
    }
  }

  @keyframes line-1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1290px); }
  }
  @keyframes line-2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(1380px); }
  }
  @keyframes line-3 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1396px); }
  }
}
</style>
