---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const features = [{
  preview: `/images/${lang}/data.png`,
  label: t('features.f1.title'),
  desc: t('features.f1.desc') as string[],
}, {
  preview: `/images/${lang}/uniscript.png`,
  label: t('features.f2.title'),
  desc: t('features.f2.desc') as string[],
}, {
  preview: `/images/${lang}/boundaryless.png`,
  label: t('features.f3.title'),
  desc: t('features.f3.desc') as string[],
}, {
  preview: `/images/${lang}/collaboration.png`,
  label: t('features.f4.title'),
  desc: t('features.f4.desc') as string[],
}]
---

<section class="features">
  <section class="block">
    <section data-univer-feature-preview class="preview">
      {features.map(feature => (
        <img data-univer-preview class="sheet" src={feature.preview} alt="univer sheets" draggable={false} />
      ))}
    </section>

    <section class="list">
      <h2 class="title">
        <span>{t('features.title')}</span>
      </h2>

      <ul>
        {features.map(feature => (
          <li data-univer-feature>
            <a>
              <label>{feature.label}</label>
              <p>
                {feature.desc?.map((text: string) => (
                  <span>{text}</span>
                ))}
              </p>
            </a>
          </li>
        ))}
      </ul>
    </section>
  </section>
</section>

<script>
const $preview = document.querySelector('[data-univer-feature-preview]')
const $features = document.querySelectorAll('[data-univer-feature]')
const $previews = document.querySelectorAll('[data-univer-preview]')

$features.forEach(($feature, index: number) => {
  $feature.addEventListener('click', () => {
    focusFeature(index)
  })
})

$preview?.addEventListener('scroll', () => {
  const { scrollLeft } = $preview
  const index = Math.round(scrollLeft / document.body.clientWidth)

  focusFeature(index)
})

function focusFeature (index: number) {
  for (let i = 0; i < $features.length; i++) {
    const $feature = $features[i]

    if (i === index) {
      $feature.classList.add('feature-active')
      $previews[i].classList.add('preview-active')
    } else {
      $feature.classList.remove('feature-active')
      $previews[i].classList.remove('preview-active')
    }
  }
}

focusFeature(0)
</script>

<style lang="less" is:global>
.feature-active {
  color: #1F2327 !important;
  @media (max-width: 1024px) {
    display: initial !important;
  }

  p {
    padding-top: 0.8rem;
    height: auto !important;
  }
}

.preview-active {
  opacity: 1 !important;
}
</style>

<style lang="less" scoped>
.features {
  height: 37.5rem;
  margin-bottom: 8.5rem;
  background-color: #eef8ff;
  @media (max-width: 1024px) {
    height: auto;
    margin-bottom: 2.5rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 8%;
      left: 0;
      width: 100%;
      height: 68%;
      background: rgba(228, 244, 254, 0.55);
      z-index: 0;
    }
  }

  .block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .preview {
    position: relative;
    width: 60.125rem;
    height: 31.375rem;
    background: url('/images/box.png') no-repeat center;
    background-size: cover;
    @media (max-width: 1024px) {
      position: relative;
      top: 0;
      left: 0;
      width: 100vw;
      height: 0;
      padding-bottom: 50%;
      transform: translateX(0%);
      display: grid;
      grid-template-columns: repeat(4, 100vw);
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x proximity;
      // hide scrollbar
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .sheet {
      position: absolute;
      top: 1rem;
      left: 6.4rem;
      width: 47.375rem;
      height: 28.875rem;
      border-radius: 6px;
      opacity: 0;
      transition: all 0.5s;
      @media (max-width: 1024px) {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 1;
        scroll-snap-align: center;
        scroll-snap-stop: always;
      }
    }
  }

  .list {
    width: 19.625rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1024px) {
      top: 0rem;
      left: 0;
      width: 100%;
      padding: 0;
      align-items: center;
      justify-content: flex-start;
    }

    .title {
      margin: 0 0 1.4rem;

      span {
        font-size: 2.25rem;
        font-weight: 600;
        background-image: linear-gradient(121deg, #0048FF 18.89%, #0C81ED 39.58%, #029DCE 59.87%, #00BBB0 74.37%, #00C5A8 79.64%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 1024px) {
          font-size: 1.75rem;
        }
      }
    }

    ul {
      width: 16.875rem;
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      gap: 1.2rem;

      li {
        color: #8FBCFF;
        font-size: 1rem;
        transition: color .15s;
        display: inline-flex;
        @media (max-width: 1024px) {
          display: none;
        }

        &:hover {
          color: #1F2327;
        }

        &::before {
          content: "";
          position: relative;
          top: 0.5rem;
          width: 6px;
          height: 6px;
          margin-right: 0.6rem;
          background: currentColor;
          border-radius: 50%;
          display: inline-block;
          flex-shrink: 0;
          @media (max-width: 1024px) {
            display: none;
          }
        }

        label {
          position: relative;
          font-weight: 500;
          cursor: pointer;
          display: inline-block;
          z-index: 1;
        }

        p {
          margin: 0;
          height: 0;
          color: #999;
          font-size: 0.875rem;
          line-height: 1.8;
          overflow: hidden;
          transition: all 0.15s;
          @media (max-width: 1024px) {
            display: none;
          }

          span {
            display: block;
          }
        }
      }
    }
  }
}
</style>
