---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const tech = [{
  icon: '/images/tech-1.svg',
  color: 'rgba(45, 174, 255, 0.4)',
  title: t('tech.t1.title'),
  desc: t('tech.t1.desc'),
}, {
  icon: '/images/tech-2.svg',
  color: 'rgba(255, 140, 81, 0.5)',
  title: t('tech.t2.title'),
  desc: t('tech.t2.desc'),
}, {
  icon: '/images/tech-3.svg',
  color: 'rgba(254, 75, 75, 0.4)',
  title: t('tech.t3.title'),
  desc: t('tech.t3.desc'),
}, {
  icon: '/images/tech-4.svg',
  color: 'rgba(39, 79, 238, 0.3)',
  title: t('tech.t4.title'),
  desc: t('tech.t4.desc'),
}]
---

<section class="tech">
  <h2 class="title">
    <span>{t('tech.title')}</span>
  </h2>

  <section class="list">
    {tech.map(item => (
      <div class="block" style={{ '--tech-icon-color': item.color }}>
        <img src={item.icon} alt={item.title.toString()} draggable={false} />
        <h3>{item.title}</h3>
        <p>{item.desc}</p>
      </div>
    ))}
  </section>
</section>

<style lang="less" scoped>
.tech {
  padding-bottom: 10rem;

  .title {
    margin-bottom: 3rem;
    text-align: center;

    span {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 600;
      background: linear-gradient(121deg, #0048FF 18.89%, #0C81ED 39.58%, #029DCE 59.87%, #00BBB0 74.37%, #00C5A8 79.64%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 1024px) {
        font-size: 1.75rem;
      }
    }
  }

  .list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    @media (max-width: 1024px) {
      padding: 0 1rem;
      overflow-x: auto;
      justify-content: flex-start;
      // hide scrollbar
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .block {
      width: 16.75rem;
      height: 21.75rem;
      padding: 1.6rem 1.8rem;
      border-radius: 20px;
      background: rgba(228, 244, 254, 0.55);
      box-shadow: 0px 2px 6px 0px #6FC3FF33 inset;
      flex-shrink: 0;
      transition: all 0.15s;
      &:hover {
        background: #fff;
        box-shadow: 0px 4px 24px 0px #08102714;

        img {
          filter: drop-shadow(0px 4px 12px var(--tech-icon-color));
        }
      }

      img {
        width: 3.2rem;
        height: 3.2rem;
        margin-bottom: 1.2rem;
        display: block;
        transition: all 0.15s;
      }

      h3 {
        margin: 0 0 0.5rem;
        color: #1F2327;
        line-height: 1.4rem;
        font-size: 1rem;
        font-weight: 600;
      }

      p {
        margin: 0;
        color: #999;
        line-height: 1.5rem;
        font-size: 0.875rem;
      }
    }
  }
}
</style>
