---
import Layout from '@/layouts/Layout.astro'
import Search from '@/components/Search/index.astro'

const grades = [{
  title: '新手入门',
  duration: '学习时间预计 1～3 天',
  icon: '/images/pages/help-center/learning/silver.png',
  desc: '通过深入了解 Univer 的功能和相关产品资料，将 Univer 与您的产品无缝融合，提供更加多样化的功能。'
}, {
  title: '进阶之路',
  duration: '学习时间预计 10～20 天',
  icon: '/images/pages/help-center/learning/gold.png',
  desc: '通过深入研究常见问题并实践示例，快速提升项目实战技能，从而实现快速成长和进步。'
}, {
  title: '迈向高阶',
  duration: '学习时间预计 1～2 月',
  icon: '/images/pages/help-center/learning/crown.png',
  desc: '为更多的场景和需求准备扩展能力，了解产品高级功能，以满足更多的需求。'
}]
---

<Layout title="Univer">
  <section class="grid gap-8 md:gap-30">
    <Search placeholder="搜索视频、文章、课程、问题" />

    <section class="grid gap-12">
      <h2 class="hidden md:block text-2.5rem/3.5 u-text-title">学习计划</h2>

      <div class="grid md:grid-cols-3 gap-5 md:gap-30">
        {grades.map(item => (
          <div
            class="shadow-lg rounded-lg h-60 md:h-140 px-6 grid grid-cols-3 gap-3 md:gap-0 md:grid-cols-none items-center"
          >
            <div class="flex flex-col col-span-2 justify-center md:items-center gap-2 md:gap-10">
              <h3 class="u-text-title text-xl md:text-2.75rem/15.5 font-700 md:font-normal">
                {item.title}
              </h3>
              <p class="u-text-content text-base md:text-2xl">
                {item.duration}
              </p>
              <img class="h-45 hidden md:inline-block" src={item.icon} alt={item.title} />
              <p class="u-text-tip text-0.8125rem md:text-base">
                {item.desc}
              </p>
            </div>

            <div class="w-full h-full md:hidden col-span-1 flex items-center">
              <img
                class="w-full max-h-full"
                src={item.icon}
                alt={item.title}
              />
            </div>
          </div>
        ))}
      </div>
    </section>
  </section>
</Layout>
