---
import fs from 'node:fs'
import process from 'node:process'
import * as diff from 'diff'
import Diff2Html from 'diff2html'
import 'diff2html/bundles/css/diff2html.min.css'
import BlankLayout from '@/layouts/BlankLayout.astro'

const path = Astro.url.searchParams.get('path')
const ext = Astro.url.searchParams.get('ext')
const lang = Astro.url.searchParams.get('lang')

let sourceContent = ''
let targetContent = ''
let html = ''
const sourcePath = `${path}.${ext}`
const targetPath = (sourcePath).replace('./src/content/docs/', `./src/content/docs/${lang}/`)

if (path && ext) {
  if (fs.existsSync(sourcePath)) {
    sourceContent = fs.readFileSync(sourcePath, 'utf-8')
  }
  if (lang) {
    if (fs.existsSync(targetPath)) {
      targetContent = fs.readFileSync(targetPath, 'utf-8')

      const diffResult = diff.createPatch(`${sourcePath} ↔️ ${targetPath}`, sourceContent, targetContent)

      html = Diff2Html.html(diffResult, {
        drawFileList: true, // 如果你想显示文件列表
        matching: 'lines', // 使用行匹配模式
        outputFormat: 'side-by-side', // 你可以选择 'line-by-line' 或 'side-by-side'
      })
    }
  }
}

const dirname = process.cwd()
---

<BlankLayout lang="zh-cn" title="i18n Editor">
  <header>
    <a href="/i18n-editor">⬅️ Back</a>

    <ul>
      <li>
        Source: zh-cn
        <a href={`vscode://file/${dirname}/${sourcePath}`}>{sourcePath}</a>
      </li>
      <li>
        Target: {lang}
        {targetContent === '' && (<strong>(UNTRANSLATED)</strong>)}
        <a href={`vscode://file/${dirname}/${targetPath}`}>{targetPath}</a>
      </li>
    </ul>
  </header>

  <hr />

  <section>
    <div set:html={html} />
  </section>
</BlankLayout>
