---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero/index.astro'
import ResponsiveContainer from '@/components/ResponsiveContainer'
import HorizontalContent from '@/components/HorizontalContent/index.astro'
import { SheetIcon, DocIcon, XmindIcon, SlideIcon } from '@/components/Icons'

const advantages = [{
  img: '/images/index/01.png',
  title: '开源 Open',
  desc: '开源协议，畅享最新技术'
}, {
  img: '/images/index/02.png',
  title: '插件化',
  desc: '即插即用，按需加载，灵活多样；嵌入任何业务流程节点，提供数据流转效率'
}, {
  img: '/images/index/03.png',
  title: '纯前端',
  desc: '高性能、跨平台，支持主流前端框架'
}, {
  img: '/images/index/04.png',
  title: '功能全',
  desc: '兼容办公套件基础功能，增强导入、导出、打印、公式性能；协同办公更让效率提升'
}]

const apps = [{
  icon: SheetIcon,
  title: 'Sheet',
  desc: '直观强大流行的电子表格'
}, {
  icon: DocIcon,
  title: 'Doc',
  desc: '信息记录明确的电子文档'
}, {
  icon: XmindIcon,
  title: 'Xmind',
  desc: '分支结构强大的思维导图'
}, {
  icon: SlideIcon,
  title: 'Slide',
  desc: '多样自由的文稿演示工具'
}]
---

<Layout title="Univer">
  <Hero
    title={['Univer', '串联工作流让业务更高效']}
    desc="连接业务数据加快数据流转效率，增强业务逻辑，让用户使用熟悉的效率工具提高工作效率"
  />

  <ResponsiveContainer>
    <main class="py-28 grid gap-28">
      <section class="grid grid-flow-col md:grid-flow-row grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 justify-between gap-4 md:gap-10">
        {advantages.map(item => (
          <div class="text-center flex flex-col gap-4">
            <img class="block w-40 h-40 mx-auto" src={item.img} />
            <strong class="shrink-0 text-5 text-#ffbd37">{item.title}</strong>
            <p class="shrink-0 text-#999999">{item.desc}</p>
          </div>
        ))}
      </section>

      <HorizontalContent
        position="left"
        cover="/images/index/05.png"
        title="高效"
        sub="助力企业数字产业化，提高数据价值"
        desc="Univer 优化现有流程，摒弃传统的低代码模式，而不是创造和增加流程，真正为企业赋能。"
      />

      <HorizontalContent
        position="right"
        cover="/images/index/06.png"
        title="链接"
        sub="插件化，嵌入式"
        desc="让最接近您业务实际细节的人员能够自定义应用程序，以加快工作完成速度。"
      />


      <HorizontalContent
        position="left"
        title="融合"
        sub="完美兼容，无需改变工作习惯"
        desc="Univer 包含当前市面上关键的办公程序，无需安装办公软件，只需在浏览器中打开，即包含所有程序。"
      >
        <div class="w-full md:w-180 grid gap-4 md:gap-8 grid-cols-2 grid-rows-2">
          {apps.map(item => (
            <div class="grid md:grid-cols-4 items-center gap-4 p-5 rounded shadow-[0_4px_10px_0_rgba(0,0,0,0.1)]">
              <div class="flex justify-center md:block md:col-span-1">
                <item.icon />
              </div>

              <div class="text-center md:text-left md:col-span-3 grid gap-4 md:gap-2">
                <strong class="text-4.8 text-#35322b">{item.title}</strong>
                <p class="text-3.6 text-#999999">{item.desc}</p>
              </div>
            </div>
          ))}
        </div>
      </HorizontalContent>
    </main>
  </ResponsiveContainer>
</Layout>
