---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero/index.astro'
import ResponsiveContainer from '@/components/ResponsiveContainer'
import { tabs } from '@/pages/talent.astro'
import { LocationIcon } from '../../components/Icons/Location';
import { ContentIcon } from '../../components/Icons/Content';
import { RequirementsIcon } from '../../components/Icons/Requirements';
import { AdditionIcon } from '../../components/Icons/Addition';
import Navbar from '../../components/Navbar';

// Dynamic route
export function getStaticPaths() {
  return [
    {params: {talent: 'frontend'}},
    {params: {talent: 'backend'}},
    {params: {talent: 'market'}},
    {params: {talent: 'sale'}},
  ];
}

const { talent } = Astro.params;
const talentInfo = talent && tabs.find(tab => tab.name === talent)

let label;
let location = '';
let content:string[] = [];
let requirements:string[] = [];
let addition:string[] = [];
if(talentInfo){
  label = talentInfo.label;
  location = talentInfo.location;
  content = talentInfo.content;
  requirements = talentInfo.requirements;
  addition = talentInfo.addition;
}
---

<Layout title={`${label} / Univer`}>
  <Navbar client:load transitionWithParent />

  <ResponsiveContainer>
    <main class="py-18 grid gap-28">
      <section class="grid gap-8 text-center">
        <h2 class="text-center text-zinc-800 text-[32px] font-bold leading-[54px] tracking-widest">{label}</h2>
        <div class="desc">
          <div class="text-zinc-800 text-lg font-normal font-['Source Han Sans CN'] leading-10 flex grid-items-center"><span class="mr-2"><LocationIcon /></span>工作地点：{location}</div>

        <div class="text-zinc-800 text-lg font-normal font-['Source Han Sans CN'] leading-10 flex grid-items-center mt-4">
        <span class="mr-2"><ContentIcon /></span>
        工作内容
        </div>
        <p
        class="mt-4 text-justify text-neutral-400 flex flex-col gap-4 pl-8"
        >
        {content.map(item => (
        <span
            class="before:content-[''] before:block before:w-2 before:h-2 before:bg-current before:rounded-full before:shrink-0 flex grid-items-baseline gap-4 text-left">
            {item}
        </span>
        ))}
        </p>

        <div class="text-zinc-800 text-lg font-normal font-['Source Han Sans CN'] leading-10 flex grid-items-center mt-4">
        <span class="mr-2"><RequirementsIcon /></span>
        岗位要求</div>

        <p
        class="mt-4 text-neutral-400 flex flex-col gap-4 pl-8"
        >
        {requirements.map(item => (
        <span
            class="before:content-[''] before:block before:w-2 before:h-2 before:bg-current before:rounded-full before:shrink-0 flex grid-items-baseline gap-4 text-left">
            {item}
        </span>
        ))}
        </p>

        <div class="text-zinc-800 text-lg font-normal font-['Source Han Sans CN'] leading-10 flex grid-items-center mt-4">
        <span class="mr-2"><AdditionIcon /></span>
        加分项</div>
        <p
        class="mt-4 text-neutral-400 flex flex-col gap-4 pl-8"
        >
        {addition.map(item => (
        <span
            class="before:content-[''] before:block before:w-2 before:h-2 before:bg-current before:rounded-full before:shrink-0 flex grid-items-baseline gap-4 text-left">
            {item}
        </span>
        ))}
        </p>
      </div>
      </section>
    </main>
  </ResponsiveContainer>
</Layout>


<style lang="less">
  .tab-container {
    grid-template-areas:"cover desc";
    grid-template-columns: 2fr 3fr;
    .mobile-tab-cover {
      grid-area: cover;
    }
  
    .mobile-tab-desc {
      grid-area: desc;
    }
  }
  </style>
  