---
import Button from '@/components/Button/index.astro'
import MobileMenu from './MobileMenu'

const navs = [{
  title: '了解 Univer',
  link: '/products'
}, {
  title: '应用场景',
  link: '/solutions'
}, {
  title: '帮助中心',
  children: [{
    title: '学习计划',
    link: '/help-center/learning'
  }, {
    title: '常见问题',
    link: '/help-center/faq'
  }]
}, {
  title: '联系我们',
  link: '/contact'
}, {
  title: '购买 Univer',
  link: 'javascript:void(0)'
}]
---

<header class="sticky top-0 bg-white md:shadow-lg h-25 px-5 md:px-23 2xl:px-0 z-1">
  <section
    class="flex justify-between items-center w-full h-full max-w-screen-2xl m-auto"
  >
    <nav class="flex items-center gap-10 h-full">
      <h1>
        <a href="/">
          <div class="w-42 h-13 u-bg-primary" />
        </a>
      </h1>

      <ul class="gap-8 h-full hidden md:flex">
        {navs.map(nav => (
          <li class="group relative h-full">
            <a class="h-full flex px-2 items-center cursor-pointer" href={nav.link}>
              <span>{nav.title}</span>
            </a>

            {nav.children && (
              <div class="pt-2">
                <div class="absolute -bottom-2 hidden group-hover:block">
                  <ul
                    class="flex flex-col absolute rounded-lg py-1 w-25.5 bg-white shadow"
                  >
                    {nav.children.map(child => (
                      <li>
                        <a
                          class="block text-center py-2"
                          href={child.link}
                        >
                          {child.title}
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            )}
          </li>
        ))}
      </ul>
    </nav>

    <section class="hidden md:flex items-center gap-10">
      <a>EN</a>

      <Button type="primary" size="medium">
        在线体验 →
      </Button>
    </section>

    <section class="md:hidden">
      <MobileMenu client:load navs={navs} />
    </section>
  </section>
</header>
